[Desktop Entry]
Name=RasterView
Comment=Raster Viewer for CUPS-Raster, Apple-Raster and PWG-Raster
TryExec=rasterview
Exec=rasterview %F
Icon=rasterview
MimeType=application/vnd.cups-raster
Encoding=UTF-8
Categories=Graphics;
Type=Application
Terminal=false
